/*
--text: #FBE9D0;
--background: #244855 , #874F41, #90AEAD;
--primary-button: #E64833;
--accent: #595d4b;
*/

/* overall layouts*/
body{
    margin: 0%;
    padding: 0%;
    background-color: #f9fafa;
    font-size:x-large;
    font-family:Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    color: #E64833;
}


.content{
    background-color: #f9fafa;
    
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 2%;
    text-align: center;
    font-weight: 200;
    /*background-color:#6f6d5b;*/
}

.name{
    width: fit-content;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 0px;
    padding-right: 50px;
    background-color: #E64833;
    color:#f9fafa ;
    font-size: xx-large;
}


.name p{
    margin: 0px;
    padding: 0px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #244855;
}

.hp_intro
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: #244855;
    
}

.hp_self{
    width: 100%;
    padding: 10px;
    background-color: #3f4b4f87;
    margin-right: 10px;
}

.hp_self p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9fafa;

}

.hp_interest
{
    width: 100%;
    padding: 10px;
    background-color: #3f4b4f87;
    margin-left: 10px;
}

.hp_interest p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9fafa;

}

.hp_skills
{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #3f4b4f87;
    color: #244855;
}

.hp_skills p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9fafa;

}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color:#6f6d5b;
}

p{
    font-family:'Times New Roman', Times, serif
    
}

h2{
    margin:0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    background-color:#6f6d5b;
    color: #f9fafa;
    font-weight: 100;
}


nav button{
    margin: 0;
    border: 0;
    padding-right:10%;
    padding-left:10%;
    padding: 1%;
    width: 100%;
    text-decoration: none;
    color: #f9fafa;
    background-color:#244855;
    text-align:center;
    font-size:x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pastproj_content h1 {
    border-top: 1px solid #E64833; /* Adds a 1px solid line on top */
    padding-top: 10px; /* Optional: adds space between the border and content */
}


.hp_content{
    min-height: 200px;
    padding: 1%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80% 20%;

}

.hp_content p{
    margin-block-end: 0%;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: row;

    align-self: start;
    margin: 0;
    margin-left: 5%;
    padding: 1%;
    min-width: 500px;
    

}

.hp_content button{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-right: 2.5%;
    border: 0;
    justify-self: end;
    background-color:#595d4b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: 200;
    color: #f9fafa;
}


.hp_content img{
    grid-column-end: 2;
    grid-row: 1;
    justify-self: center;
    margin: 0%;
}

img{

    max-width: 300px;
}

nav button:hover{
    color:  #244855;
    background-color: #e7e9e9
}

.hp_content button:hover{

    transform: skew(-20deg);
    background-color: #2e677b;

}

.examples{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.example_explain{
    margin: 64px;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: x-large;
    color:#e7e9e9;
    text-align: center;
}

.proj{
    padding-top: 20px;
    margin-left: 128px;
    margin-right: 128px;
    border-radius: 20px;
    background-color: #2e677b;
}

.proj_title{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 10px;
}

#guitarKnob{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: flex-end;
}

#guitarKnob img{
    max-width: 100px;
    max-height: 100px;  
}


.eq_content p{
    grid-column:span 2;
    grid-row: 2;
    background-color: #e7e9e9;
}

.eq_pick p{

    background-color: #e7e9e9;
    margin-bottom: 5%;
}

.eq_jack p{

    background-color: #e7e9e9;

}

.onIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1f2e1d;
    color: #e7e9e9;
    text-align: center;
    align-self: flex-end;
}


#guitarKnob button{
    height: 10%;
    width: 20%;
    align-self: flex-end;
    border: 0;
    background-color: #494d3b;
    color: #e7e9e9;
    border-radius: 10%;
    font-family: 'Courier New', Courier, monospace;
}

#guitarKnob button:hover{

    background-color: #6f6d5b;
    color: #e7e9e9;
    border-radius: 10%;
    
}

#guitarKnob p{
    background-color: #f9fafa;
}

.hist_content{
    display: flex;
    flex-direction: row;
    background-color: #a7a7a7;
    margin-top: 5%;

    margin-bottom: 5%;
}



@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  @keyframes Antirotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-180deg);
    }
  }

  
@media screen and (max-width:800px){
    body{
        margin: 0%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .content{
        background-color: #f9fafa
    }
    nav{
        grid-column: 1;
        min-width: 125px;
        width: 20%;
        display: flex;
        flex-direction: column;
        font-size:larger;

    }

    nav button{
        height: 5%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    
    .hp_content{
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }

    .hp_content button{
        align-self: center;
        min-height: 50px;
        min-width: 200px;
        margin: 5%;
    }
    
    .hp_content img{
        align-self: center;
    }

    .type_shape{
        display: flex;
        flex-direction: column;

    }
    .type_contents{
        display: flex;
        flex-direction: column;
        align-self: center;

    }

    .type_description{
        display: flex;
        flex-direction: column;
        /*background-color: #e7e9e9;*/
    }
    
    .eq_content{
        display: flex;
        flex-direction: column;
    }

    #guitarKnob{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-self: center;
    }
    
}
