/*
--text: #FBE9D0;
--background: #2C3134 , #874F41, #90AEAD;
--primary-button: #E08E70;
--accent: #595d4b;
*/

/* overall layouts*/
body{
    margin: 0%;
    padding: 0%;
    background-color: #f9fafa;
    font-size:x-large;
    font-family:Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    color: #E08E70;
}


.content{
    background-color: #f9fafa;
    display: none; /* Default: not rendered */
    transition: opacity 0.5s ease; /* Smooth transition */
    
}

.content.active {
    opacity: 1;
    display: block; /* Ensure it's rendered */
  }

h1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 2%;
    text-align: center;
    font-weight: 200;
    /*background-color:#6f6d5b;*/
}

.name{
    width: fit-content;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 0px;
    padding-right: 50px;
    background-color: #E08E70;
    color:#2C3134 ;
    font-size: xx-large;
}


.name p{
    margin: 0px;
    padding: 0px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9fafa;
}

.hp_intro
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: #E08E70;
    
}

.hp_self{
    width: 100%;
    padding: 10px;
    background-color: #2C3134;
    margin-right: 10px;
}

.hp_self p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9fafa;

}

.hp_interest
{
    width: 100%;
    padding: 10px;
    background-color: #2C3134;
    margin-left: 10px;
}

.hp_interest p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9fafa;

}

.hp_skills
{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #2C3134;
    color: #E08E70;
}

.hp_skills p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9fafa;

}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color:#6f6d5b;
}

nav button.active {
    background-color: #586166; /* Green */
    color: white;
  }
  

p{
    font-family:'Times New Roman', Times, serif
    
}

h2{
    margin:0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    background-color:#6f6d5b;
    color: #f9fafa;
    font-weight: 100;
}


nav button{
    margin: 0;
    border: 0;
    padding-right:10%;
    padding-left:10%;
    padding: 1%;
    width: 100%;
    text-decoration: none;
    color: #f9fafa;
    background-color:#2C3134;
    text-align:center;
    font-size:x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pastproj_content h1 {
    border-top: 1px solid #E08E70; /* Adds a 1px solid line on top */
    padding-top: 10px; /* Optional: adds space between the border and content */
}


.hp_content{
    min-height: 200px;
    padding: 1%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80% 20%;

}

.hp_content p{
    margin-block-end: 0%;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: row;

    align-self: start;
    margin: 0;
    margin-left: 5%;
    padding: 1%;
    min-width: 500px;
    

}

.hp_content button{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-right: 2.5%;
    border: 0;
    justify-self: end;
    background-color:#595d4b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: 200;
    color: #f9fafa;
}


.hp_content img{
    grid-column-end: 2;
    grid-row: 1;
    justify-self: center;
    margin: 0%;
}

img{

    max-width: 300px;
}

nav button:hover{
    color:  #2C3134;
    background-color: #e7e9e9
}

.hp_content button:hover{

    transform: skew(-20deg);
    background-color: #2C3134;

}

.examples{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.examples img{
    min-width:640px ;
    min-height:360px;
}

.example_explain{
    margin: 64px;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: x-large;
    color:#e7e9e9;
    text-align: center;
}

.proj{
    padding-top: 20px;
    margin-left: 128px;
    margin-right: 128px;
    border-radius: 20px;
    background-color: #2C3134;
}

.proj_title{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 10px;
}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#carousel-image {
    min-width:640px ;
    min-height:360px;
  }

  #next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 20px;
  }

  #prev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transform: rotate(180deg);
    margin-right: 20px;
  }

  #prev img,
  #next img{
    max-height: 60px;
    background: gray;
    border-radius: 60px;
    padding: 30px;
    transition: opacity 0.1s ease; /* Smooth transition */
  }

  #next:hover img, 
#prev:hover img {
  opacity: 0.6; /* Set the desired transparency level (0.6 = 60% opaque) */
}

.contact{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 100px;

}

.contact_logo img{
    height: 100px;
}

.contact_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:40px;
    color: #2C3134
}


.hidden {
    opacity: 0;
    transform: translateY(50px); /* Start slightly below */
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
.hidden.show {
opacity: 1;
transform: translateY(0);
}
  

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  @keyframes Antirotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-180deg);
    }
  }

  
  @media (max-width: 768px) {
    .hp_intro,
    .proj {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .hp_intro img,
    .proj img {
      max-width: 100%;
      height: auto;
    }
  
    .carousel {
      flex-direction: column;
      align-items: center;
    }
  
    .carousel img {
      max-width: 80%;
    }
  }
  